@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/* ************************* GENERAL STYLING *************************************** */
:root {
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
    --border: .2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, 0.1);
    --outline-color: .2rem solid var(--black);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

.btn {
    margin-block-start: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: var(--orange);
    color: #fff;
    transition: .3s linear infinite;
    transform: scale(1);
    text-align: center;
    border: 0;
}

body {
    background: #eee;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding: 2rem 0;
    padding-block-end: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

.heading span {
    background: var(--orange);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}


/* ************* HEADER SECTION ******************** */
.header {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: var(--black);
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
}

.header .logo i {
    color: var(--orange);
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--orange);
}

.header .icons div {
    block-size: 4.5rem;
    inline-size: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-inline-start: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover {
    background: var(--orange);
    color: #fff;
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    inset-block-start: 110%;
    inset-inline-end: -110%;
    inline-size: 50rem;
    block-size: 5rem;
    background: var(--black);
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active {
    inset-inline-end: 2rem;
    transition: .4s linear;
}

.header .search-form input {
    block-size: 100%;
    inline-size: 100%;
    background: none;
    outline: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--light-color);
    padding: 0 1.5rem;
    border: 0;
}

.header .search-form label {
    font-size: 2.2rem;
    padding-inline-end: 1.5rem;
    color: #fff;
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--orange);
}

/* shopping cart section */
.header .shopping-cart {
    position: absolute;
    inset-block-start: 110%;
    inset-inline-end: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    inline-size: 35rem;
    background: var(--black);
}

.header .shopping-cart.active {
    inset-inline-end: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img {
    block-size: 10rem;
}

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: 2rem;
    cursor: pointer;
    color: #fff;
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover {
    color: var(--orange);
}

.header .shopping-cart .box .content h3 {
    color: #fff;
    font-size: 1.7rem;
}

.header .shopping-cart .box .content span {
    color: var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity {
    padding-inline-start: 1rem;
}

.header .shopping-cart .total {
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
    margin-block-start: -1rem;
}

.header .shopping-cart .btn {
    display: block;
    text-align: center;
    margin: 1rem;
    color: #fff;
    border: 1px solid #fff;
}

.header .shopping-cart .btn:hover {
    border: none;
}

/* User Auth */
.header .login-form,
.header .signup-form {
    position: absolute;
    inset-block-start: 110%;
    inset-inline-end: -110%;
    inline-size: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: var(--black);
    text-align: center;
}

.header .login-form.active,
.header .signup-form.active {
    inset-inline-end: 2rem;
    transition: .4s linear;
}

.header .login-form h3,
.header .signup-form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fff;
}

.header .login-form .box {
    inline-size: 100%;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: #fff;
    text-transform: none;
    border: none;
}

.header .login-form p,
.header .signup-form p {
    font-size: 1.4rem;
    padding: .5rem 0;
    color: #fff;
}

.header .login-form>p {
    text-align: start;
}

.header .login-form p a,
.header .signup-form p a {
    color: var(--orange);
    text-decoration: none;
}

.header .login-form p a:hover,
.header .signup-form p a:hover {
    text-decoration: underline;
    transition: .4s linear;
}

.signup-form {
    display: none;
}

.signup-form .checkbox {
    display: flex;
    align-items: center;
    gap: 1rem;
}

input[type="submit"] {
    color: #fff;
    border: .2rem solid #fff;
}


/* ************* HOME SECTION ******************** */
.home {
    display: flex;
    align-items: center;
    background: url("./images/banner.jpg") no-repeat center center / cover;
    padding-block-start: 17rem;
    padding-block-end: 10rem;
}

.home .content {
    text-align: start;
    inline-size: 60rem;
}

.home .content h3 {
    color: var(--black);
    font-size: 3rem;
}

.home .content h3 span {
    color: var(--orange);
}

.home .content p {
    color: #000;
    /*var(--light-color)*/
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}


/* ************* FEATURES SECTION ******************** */
.features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.features .box-container .box {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    border-radius: .5rem;
}

.features .box-container .box:hover {
    border: .1rem solid var(--orange);
}

.features .box-container .box img {
    block-size: 20rem;
    border-start-start-radius: .5rem;
    border-start-end-radius: .5rem;
    object-fit: cover;
}

.features .box-container .box h3 {
    font-size: 2.5rem;
    margin-inline-start: 2rem;
    line-height: 1.8;
    color: var(--black);
}

.features .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    margin-inline-start: 2rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.features .box-container .box a {
    inline-size: fit-content;
    margin-inline-start: 2rem;
    margin-block-end: 2rem;
}


/* ************* PRODUCTS SECTION ******************** */
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.product-container .box {
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
    block-size: auto;
}

.product-container .box:hover {
    outline-offset: 0rem;
    outline: var(--outline-color);
}

.product-container .box img {
    inline-size: 80%;
    object-fit: cover;
    overflow: hidden;
}

.product-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.product-container .box .price {
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}

.product-container .box .stars i {
    font-size: 1.7rem;
    color: var(--orange);
    padding: .5rem 0;
    margin-block-end: 1.5rem;
}

.price span {
    text-decoration: line-through;
    color: red;
    font-weight: bold;
    margin-inline-start: .5rem;
}

.addCart-btn {
    background: var(--black);
    padding: .7rem 1rem;
    border-radius: .5rem;
    inline-size: 60%;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    gap: .7rem;
}

.addCart-btn:hover {
    transform: scale(1.1);
}


/* ************* CATEGORIES SECTION ******************** */
.categories .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.categories .box-container .box {
    padding: 3rem 2rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
}

.categories .box-container .box:hover {
    outline: var(--outline-color);
    outline-offset: 0rem;
}

.categories .box-container .box img {
    margin: 1rem 0;
    block-size: 15rem;
    object-fit: cover;
}

.categories .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
}

.categories .box-container .box p {
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}


/* ************* REVIEWS SECTION ******************** */
.swiper {
    padding: 10rem 1rem;
    inline-size: 84%;
}

.swiper-wrapper .box {
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
    cursor: default;
    user-select: none;
}

.swiper-wrapper .box:hover {
    outline: var(--outline-color);
    outline-offset: 0rem;
}

.swiper-wrapper .box img {
    inline-size: 10rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    align-self: center;

}

.swiper-wrapper .box p {
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}

.swiper-wrapper .box h3 {
    padding-block-end: .5rem;
    color: var(--black);
    font-size: 2.2rem;
}

.swiper-wrapper .box .stars i {
    color: var(--orange);
    font-size: 1.7rem;
}


/* ************* BLOGS SECTION ******************** */
.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
}

.blogs .box-container .box img {
    block-size: 25rem;
    inline-size: 100%;
    object-fit: cover;
}

.blogs .box-container .box .content {
    padding: 2rem;
}

.blogs .box-container .box .content .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block-end: 1.5rem;
    margin-block-end: 1rem;
    border-block-end: var(--border);
}

.blogs .box-container .box .content .icons a {
    color: var(--light-color);
    font-size: 1.5rem;
}

.blogs .box-container .box .content .icons a:hover {
    color: var(--black);
}

.blogs .box-container .box .content .icons a i {
    color: var(--orange);
    padding-inline-end: .5rem;
}

.blogs .box-container .box .content h3 {
    line-height: 1.8;
    color: var(--black);
    font-size: 2.2rem;
    padding: .5rem 0;
}

.blogs .box-container .box .content p {
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
}


/* ************* FOOTER SECTION ******************** */
.footer {
    background: var(--black);
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem 0;
}

.footer .box-container .box h3 i {
    color: var(--orange);
}

.footer .box-container .box .links {
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .links i {
    color: var(--orange);
    padding-inline-end: .5rem;
}

.footer .box-container .box .links:hover i {
    padding-inline-end: 2rem;
}

.footer .box-container .box p {
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .share a {
    block-size: 4rem;
    inline-size: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--orange);
    margin-inline-start: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background: var(--orange);
    color: #fff;
}

.footer .box-container .box .email {
    inline-size: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: #fff;
    text-transform: none;
    border: 0;
    outline: none;
}

.footer .box-container .box .payment-img {
    margin-block-start: 1rem;
    block-size: 4.3rem;
    border-radius: .4rem;
}

.footer-form {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer .credit {
    text-align: center;
    margin-block-start: 2rem;
    padding: 1rem;
    padding-block-start: 2.5rem;
    font-size: 2rem;
    color: #fff;
    border-block-start: #fff;
    margin-inline-start: 25rem;
}

.footer .credit span {
    color: var(--orange);
}





/* ================================*** MEDIA QUERIES ***====================================== */
@media screen and (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media screen and (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .search-form {
        inline-size: 90%;
    }

    .header .navbar {
        position: absolute;
        inset-block-start: 110%;
        inset-inline-end: -110%;
        inline-size: 30rem;
        box-shadow: 1rem 0 3rem rgba(0, 0, 0, .1);
        background: var(--black);
        color: #fff;
    }

    .header .navbar.active {
        inset-inline-end: 2rem;
        transition: .4s linear;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .addCart-btn {
        inline-size: fit-content;
    }

}

@media screen and (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2.5rem;
    }

    .footer {
        text-align: center;
    }
}