@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* ******************************* GENERAL STYLING ******************************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

:root {
    --container-width-lg: 84%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --color-bg: rgb(255, 255, 255);
    --color-primary: #041e42;
    --color-secondary: #cb6228;
    --color-tertiary: #d06d38;
    /* --color-tertiary: #cb7c28; */
    --color-black: #060606;

    --transition: all 300ms ease;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-black);
    line-height: 1.7;
    background: var(--color-bg);
    overflow-x: hidden;
}

.container {
    inline-size: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2 {
    line-height: 1.4;
}

h1 span {
    color: var(--color-tertiary);
}

a {
    color: aliceblue;
    transition: var(--transition);
}

a.active,
a:hover {
    color: var(--color-tertiary);
}

p {
    font-size: 1.8rem;
}

img {
    inline-size: 100%;
    object-fit: cover;
}

section {
    padding: 10rem 6rem;
}

.heading__container {
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
    justify-content: center;
    align-items: center;
    margin-block-end: 6rem;
}

.heading__container h1 {
    font-size: 2rem;
    color: var(--color-bg);
    text-transform: uppercase;
}

.heading__container span {
    inline-size: 5%;
    block-size: 1rem;
    background: var(--color-secondary);
}


/* ******************************* HOME SECTION ******************************* */
/* ***************** NAVIGATION ***************** */
nav {
    block-size: 9rem;
    inline-size: 100vw;
    background: var(--color-primary);
    color: #fff;
    padding: 1.6rem;
    display: grid;
    place-items: center;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 99999999;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
}

.nav__list {
    display: flex;
    gap: 2rem;
}

.nav__list li a {
    font-size: 1.8rem;
}

.list__item {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.nav__menu {
    display: none;
}

/* *****************HERO ***************** */
#home {
    background: var(--color-secondary);
    inline-size: 100vw;
}

.hero__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding-block-start: 10rem;
}

.hero__text {
    place-items: center;
}

.hero__text h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.7;
    margin-block-start: 5rem;
    color: var(--color-bg);
}

.hero__text p {
    margin-block-start: 5rem;
    color: var(--color-black);
}

.image__container {
    background: var(--color-bg);
    border-radius: 50vh;
    inline-size: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin-block-start: -6rem;
}

/* ******************************* ABOUT ******************************* */
#about {
    background: var(--color-tertiary);
    inline-size: 100vw;
}

.about__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.about__desc h2 {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: bold;
}

.about__desc p {
    color: var(--color-black);
    margin-block: 1rem;
    max-inline-size: 100%;
}

.about__rate {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: var(--color-bg);
    border-radius: .7rem;
    padding: 2rem;
}

.about__rate-desc {
    margin-block-end: .5rem;
}

.about__rate-desc>h1 {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.4rem;
}

.about_stars {
    font-size: 1.2rem;
    color: var(--color-tertiary);
}


/* ******************************* SKILLS SECTION ******************************* */
#skills {
    background: var(--color-secondary);
}

#skills span.skills {
    background: var(--color-primary);
}

/* ******************************* PROJECTS SECTION ******************************* */
#projects {
    background: var(--color-bg);
    overflow: hidden;
}

section#projects {
    padding-inline: 0;
    padding-block: 0;
}

#projects .heading__container {
    background: var(--color-primary);
    padding-block: 2rem;
    margin-block-end: 0;
}

#projects .heading__container h1 {
    color: var(--color-secondary);
}

#projects .heading__container .projects {
    background: var(--color-bg);
}

.projects__container {
    /* inline-size: 100%; */
    overflow-x: hidden;
}

.project {
    min-block-size: 100vh;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}

.project::before {
    content: "";
    display: block;
    inline-size: 100%;
    block-size: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 2;
}

.project>div {
    padding-block: 20rem;
    position: relative;
    z-index: 3;
}

.project:nth-child(1) {
    background: url('./images/portfolio-5.png') no-repeat center center/cover;
}

.project:nth-child(2) {
    background: url('./images/foodwebsite.png') no-repeat center center/cover;
}

.project:nth-child(3) {
    background: url('./images/portfolio-7.png') no-repeat center center/cover;
}

.project:nth-child(4) {
    background: url('./images/portfolio-4.png') no-repeat center center/cover;
}

.project:nth-child(5) {
    background: url('./images/admin-dashboard.png') no-repeat center center/cover;
}

.project:nth-child(6) {
    background: url('./images/portfolio-1.png') no-repeat center center/cover;
}

.project_title,
.project_name,
.project__desc {
    color: var(--color-bg);
    margin-inline-start: 11.5rem;
}

.project_title {
    font-size: 1.5rem;
    background: var(--color-primary);
    padding: 0.85rem 1rem;
    inline-size: fit-content;
}

.project_name {
    font-size: 5.143rem;
}

.project_name span,
.edu {
    color: #f3a406;
}

.project__desc {
    font-size: 1.4rem;
    margin-block-start: .5rem;
}

.project a>i {
    background: var(--color-secondary);
    font-size: 2rem;
    padding: .87rem;
    border-radius: 50%;
    margin-inline-start: 12rem;
    margin-block-start: 3rem;
}

.project a>i:hover {
    color: var(--color-bg);
    transform: scale(1.1);
}

.mySwiper {
    position: relative;
}

.swiper-slide {
    inline-size: auto;
}

.swiper-pagination {
    font-size: 3rem;
    color: var(--color-secondary);
    position: absolute;
    background: transparent;
}

/* ******************************* RESUME SECTION ******************************* */
#resume {
    background: var(--color-secondary);
}

section#resume {
    padding-block: 4rem;
}

#resume .heading__container h1 {
    color: var(--color-primary);
}

#resume span.skills {
    background: var(--color-bg);
}

.resume__container {
    display: grid;
    place-items: center;
    grid-template-columns: 18vw auto 20vw;
}

.resume_download {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.resume_download h1 {
    font-size: 2rem;
}

.resume_download h1,
.resume_download p {
    color: var(--color-bg);
}

.resume_download p {
    display: inline-block;
    font-size: 1.8rem;
}

.resume_download i {
    transform: rotate(90deg);
    color: var(--color-bg);
    margin-inline-start: 1rem;
}

button {
    inline-size: 50%;
    margin-inline-start: -5rem;
    outline: none;
    border: 1px solid var(--color-secondary);
    padding: 1.5rem 3rem;
    color: var(--color-bg);
    background: var(--color-primary);
    border-radius: .4rem;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

.download {
    display: flex;
    gap: 3rem;
}

/* ******************************* CONTACT SECTION ******************************* */
#contact {
    background: var(--color-primary);
}

.contact__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

p,
p>a {
    color: var(--color-secondary);
    transition: var(--transition);
}

p>a:hover {
    color: var(--color-tertiary);
    transform: scale(1.1);
}

.contact_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-inline-end: 1px solid var(--color-secondary);
    gap: .5rem;
}

.contact_detail i {
    font-size: 5rem;
    background: transparent;
    color: var(--color-secondary);
}

.contact_detail h3 {
    margin-block-start: 1.2rem;
    font-size: 1.9rem;
    color: var(--color-bg);
}

.contact_detail p,
p>a {
    font-size: 1.6rem;
    font-weight: bold;
}

.contact_detail:nth-child(3) {
    margin-inline-end: -5rem;
}

.contact__details {
    margin-block-start: 10rem;
    display: grid;
    place-items: center;
}

.contact__details>p {
    font-weight: bold;
    font-size: 2.4rem;
    color: var(--color-bg);
}

.contact__details h3 {
    color: var(--color-bg);
    font-size: 1.5rem;
}

.contact__details p {
    color: var(--color-bg);
}

/* ******************************* FOOTER SECTION ******************************* */
footer {
    inline-size: 100vw;
    background: var(--color-black);
    padding-block: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* ******************************* MEDIA QUERIES ******************************* */
/* ***************** MEDIUM DEVICES ***************** */
@media screen and (max-width: 1024px) {
    .container {
        inline-size: var(--container-width-md);
    }

    .nav__container {
        inline-size: 100%;
    }

    .logo {
        font-size: 1.8rem;
    }

    .nav__list li a {
        font-size: .975rem;
    }

    .swiper-slide {
        inline-size: 100%;
    }
}

@media screen and (max-width: 820px) {
    .nav__list {
        display: none;
    }

    .nav__menu {
        display: inline-block;
        font-size: 1.5rem;
    }

    .nav__menu .fa-xmark {
        display: none;
    }
}

/* ***************** SMALL DEVICES ***************** */
@media screen and (max-width: 700px) {
    .container {
        inline-size: var(--container-width-sm);
    }
}