@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* ******************************* GENERAL STYLING ******************************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

:root {
    --container-width-lg: 84%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --color-bg: rgb(255, 255, 255);
    --color-primary: #041e42;
    --color-secondary: #cb6228;
    --color-tertiary: #d06d38;
    /* --color-tertiary: #cb7c28; */
    --color-black: #060606;

    --transition: all 300ms ease;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-black);
    line-height: 1.7;
    background: var(--color-bg);
    overflow-x: hidden;
    font-size: 2rem;
}

.container {
    inline-size: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2 {
    line-height: 1.4;
}

h1 span {
    color: var(--color-tertiary);
}

a {
    color: aliceblue;
    transition: var(--transition);
}

a.active,
a:hover {
    color: var(--color-tertiary);
}

img {
    inline-size: 100%;
    object-fit: cover;
}

section {
    padding: 10rem 6rem;
}

.heading__container {
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
    justify-content: center;
    align-items: center;
    margin-block-end: 6rem;
}

.heading__container h1 {
    font-size: 2.2rem;
    color: var(--color-bg);
    text-transform: uppercase;
}

.heading__container span {
    inline-size: 5%;
    block-size: 1.2rem;
    background: var(--color-secondary);
}


/* ******************************* HOME SECTION ******************************* */
/* ***************** NAVIGATION ***************** */
nav {
    block-size: 9rem;
    inline-size: 100vw;
    background: var(--color-primary);
    color: #fff;
    padding: 1.6rem;
    display: grid;
    place-items: center;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 99999999;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    inline-size: 90%;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

.nav__list {
    display: flex;
    gap: 2rem;
}

.nav__list li a {
    font-size: 1.5rem;
}

.list__item {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.nav__menu {
    display: none;
}

/* *****************HERO ***************** */
#home {
    background: var(--color-secondary);
    inline-size: 100vw;
}

.hero__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding-block-start: 10rem;
}

.hero__text {
    place-items: center;
}

.hero__text h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.7;
    margin-block-start: 5rem;
    color: var(--color-bg);
}

.hero__text p {
    margin-block-start: 5rem;
    color: var(--color-black);
    font-size: 2rem;
}

.image__container {
    background: var(--color-bg);
    border-radius: 50vh;
    inline-size: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin-block-start: -6rem;
}

/* ******************************* ABOUT ******************************* */
#about {
    background: var(--color-tertiary);
    inline-size: 100vw;
}

.about__desc p {
    color: var(--color-black);
}


/* ******************************* SKILLS SECTION ******************************* */
#skills {
    background: var(--color-secondary);
}

#skills span.skills {
    background: var(--color-primary);
}

/* ******************************* PROJECTS SECTION ******************************* */
#projects {
    background: var(--color-bg);
}

#projects .heading__container h1 {
    color: var(--color-primary);
}

/* ******************************* RESUME SECTION ******************************* */
#resume {
    background: var(--color-secondary);
}

#resume .heading__container h1 {
    color: var(--color-primary);
}

#resume span.skills {
    background: var(--color-bg);
}

.resume_image {
    inline-size: 30rem;
}

.resume__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.resume_download p {
    color: var(--color-black);
}

.resume_download i {
    transform: rotate(90deg);
    color: var(--color-bg);
    margin-inline-start: 1rem;
}

button {
    inline-size: 10%;
    margin-inline-end: -20rem;
    outline: none;
    border: 1px solid var(--color-secondary);
    padding: 2rem 3rem;
    color: var(--color-bg);
    background: var(--color-primary);
    border-radius: .4rem;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

/* ******************************* CONTACT SECTION ******************************* */
#contact {
    background: var(--color-primary);
}

.contact__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

p,
p>a {
    color: var(--color-secondary);
    transition: var(--transition);
}

p>a:hover {
    color: var(--color-tertiary);
    transform: scale(1.1);
}

.contact_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-inline-end: 1px solid var(--color-secondary);
    gap: .5rem;
}

.contact_detail i {
    font-size: 5rem;
    background: transparent;
    color: var(--color-secondary);
}

.contact_detail h3 {
    margin-block-start: 1.2rem;
    font-size: 1.9rem;
    color: var(--color-bg);
}

.contact_detail p,
p>a {
    font-size: 1.6rem;
    font-weight: bold;
}

.contact_detail:nth-child(3) {
    margin-inline-end: -5rem;
}

/* ******************************* FOOTER SECTION ******************************* */
footer {
    inline-size: 100vw;
    background: var(--color-black);
    padding-block: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* ******************************* MEDIA QUERIES ******************************* */
/* ***************** MEDIUM DEVICES ***************** */
/* @media screen and (max-inline-size: 1240px) {
    .hero__container {
        inline-size: 100%;
    }

    .hero__text h1 {
        margin-inline-start: -4rem;
    }
}

@media screen and (max-inline-size: 1170px) {
    section {
        padding: 2.5rem 3rem;
    }

    .hero__container {
        padding-inline-start: 4rem;
    }

    .hero__text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero__text h1 {
        margin-inline-start: 0;
    }

    .image__container {
        block-size: 55vh;
    }
}

@media screen and (max-inline-size: 1000px) {
    .container {
        inline-size: 100%;
    }

    .hero__container {
        grid-template-columns: 1fr;
    }
}

/* ***************** SMALLER DEVICES ***************** */
/* @media screen and (max-inline-size: 764px) {
    .image__container {
        block-size: 50vh;
    }

    .nav__list {
        display: none;
    }

    .nav__menu {
        display: block;
    }

    .image__container {
        block-size: 55vh;
    }
}  */